
*{
	color: #f2e8d3;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

/*blogs styling*/

  .blog1image{
    width: 40%;
    filter: grayscale(100%);
}

.blog1image:hover{
    filter:grayscale(0%);
}

.blog1{
    text-align: center;
    position: relative;
    margin: 5%;
}

.blog1heading{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size:1.1vw; /*makes font size responsive*/
    transform: translate(-50%, -50%);
}

/*Responsive design part*/

@media screen and (max-width: 768px) {

    
    .picturecontainer{
        height: 256px
    }

    .blog1image{
        width: 90%;
        filter: grayscale(0%);
    }

    .blog1heading{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 30px;
        transform: translate(-50%, -50%);
    }

}

  /*Responsive design part*/

  @media screen and (max-width: 664px) {

	.blog1heading{
        font-size: 20px;
    }
}


/*For iPhone 6/7/8*/

@media screen and (max-width: 414px) {

    .picturecontainer{
        height: 138px;
    }

    .blog1image{
        width: 90%;
        filter: grayscale(0%);
    }

    .blog1heading{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 15px;
        transform: translate(-50%, -50%);
    }
}

/*For iPhone x/xs*/

@media screen and (max-width: 375px) {

        .picturecontainer{
            height: 256px
        }

        .blog1image{
            width: 90%;
            filter: grayscale(0%);
        }

        .blog1heading{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 15px;
            transform: translate(-50%, -50%);
        }

        .picturecontainer{
            height: 125px
        }
    }
