<!doctype html>

<html lang="ru">
<head>

  	<meta charset="utf-8">
	<title>Brochure websites</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg">
	<link rel="alternate" hreflang="en-GB" href="url_of_page" />
	<link rel="alternate" hreflang="ru-GB" href="url_of_page" />
	<meta name="author" content="Dmitry Martinov">
	<meta name="description" content="Discover brochure websites Dmitry's built for his clients with small business.">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!--important for responsivness, for media queries to work-->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='main_page/main_pagestyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='my_projects/my_projectsstyle.css') }}">
	<script src="https://www.google.com/recaptcha/api.js"></script>

</head>

<body>

	<header>

		<nav>

			<div class= "logo_container"><!--this container is needed to position logo at the center of container and control the logo container width to avoid wide clickable area of the brand name's hyperlink-->
				<div class= "logo">
					<a href = "/main_page/ru"><img src="{{ url_for('static', filename='favicon.svg') }}" alt="deer"></a>
					<a href = "/main_page/ru"><p class="brand_name">BROWEBGEN</p></a>
				</div>
			</div>

			<ul class= "navbar">
				<li class = "btn button1 navbarlist noSelect"><a href = "/blog/ru" class="nav_links noSelect">Блог</a></li>
				<li class = "btn button2 navbarlist noSelect" ><a href = "/main_page/ru" class="nav_links noSelect">Главная</a></li>
				<li class = "btn button3 navbarlist noSelect"><a href = "/about_me/ru" class="nav_links noSelect">Обо мне</a></li>
			</ul>

			<a href="/my_projects" class="translator">ENG</a>
		
		</nav>

	</header>

	<main>

		<section class="section1">

			<p class="statement">Мои проекты и отзывы</p>

		</section>

		<div class="form_input_field">

			{% with messages = get_flashed_messages(with_categories=true) %}
			<!-- NOTE: this code has to be like this even if you have only one flash message in your Python code! 
				assigns a function which gets all the flashed messages in the code to a variable -->
			<!-- triggers the for loop if the Python code encountered an order to display a flash message -->
			{% for category, message in messages %}
			<!-- loops through the list of all the flash messages and prints them on the screen-->
			<p class="{{ category }}">{{ message }}</p><!-- "category" variable lets CSS know which class to pick to apply styling"-->
			<!--displays the flash message-->
			{% endfor %}
			{% endwith %}

		</div>

		<div class = "projects">
			<a href = "http://www.tlcroyal.com/" target="_blank"><img class = "project1" src="{{ url_for('static', filename='my_projects/TLCROYAL.png') }}" alt="client company logo"></a>
		</div>

		<div class = "testimonial_container">
			{% for testimonial in testimonials %}
			<div  class = "actual_testimonial">
				<h2 class = "name">{{ testimonial.name }}</h2>
				<h4 class = "testimonial_message">{{ testimonial.testimonial }}</h4>
			</div>
			{% endfor %}
		</div>

		<form class = "contactform" action="/my_projects/ru" method="post">
			<p class = "form-header">Оставьте ваш отзыв если я сделал вам вебсайт</p>
				{{ form.hidden_tag() }}<!--need to add CRSF token to protect the website from forgery attacks-->
			<div class= "form_input_field">
				{% if form.name.errors %}
					{{ form.name(placeholder="Имя") }}</p><!--actual input field from the form-->
			</div>

			<div class="form_input_field">
				{% for error in form.name.errors %}
					<span class= "form_error">{{ error }}</span>
				{% endfor %}
			</div>

			<div class= "form_input_field">
				{% else %}
					{{ form.name(placeholder="Имя") }}
				{% endif %}
			</div>

			<div class= "form_input_field">
				{% if form.testimonial.errors %}
					{{ form.testimonial(placeholder="Отзыв") }}<!--actual input field from the form-->
			</div>

			<div class="form_input_field">
				{% for error in form.testimonial.errors %}
					<span class= "form_error"> {{ error }} </span>
				{% endfor %}
			</div>

			<div class= "form_input_field">
				{% else %}
					{{ form.testimonial(placeholder="Отзыв") }}
				{% endif %}
			</div>

			<div class= "form_input_field">
				{{ form.submit() }}<!--actual input field from the form-->
			</div>

			<div class= "recaptcha_field">
				{{ form.recaptcha }}
			</div>

			<div class="form_input_field">
				{% for error in form.recaptcha.errors %}
					<span class= "form_error"> {{ error }} </span>
				{% endfor %}
			</div>

		</form>
			
	</main>
		
	<footer>

		<div class= "footercontainer">
			<ul class="footer">
				<li class = "footerlist"><a href="mailto:dmimart@hotmail.com?subject= I'd like to ask for my website&body=Hi Dima," target="_blank" rel="noopener noreferrer"><img src="{{ url_for('static', filename='email.svg') }}" class = "footericon" alt="envelope"></a><a href="mailto:dmimart@hotmail.com?subject=Would like to ask for my website&body=Hi Dima," target="_blank" rel="noopener noreferrer" class = "contact">Связаться через имейл</a></li>
				<li class = "footerlist"><a href="https://api.whatsapp.com/send?phone=+447487731324" target="_blank" rel="noopener noreferrer" class = "socmed"><img src="{{ url_for('static', filename='whatsapp.svg') }}" class = "footericon" alt="WhatsApp symbol"></a><a href="https://api.whatsapp.com/send?phone=+447487731324" target="_blank" rel="noopener noreferrer" class = "contact">Связаться через WhatsApp</a></li>
			</ul>
			<p class = "attribution">Иконки на этом вебсайте сделаны<a class = "hyperlinks" href = "https://www.flaticon.com/authors/freepik" target="_blank" rel="noopener noreferrer"> Freepik </a> и <a class = "hyperlinks" href = "https://www.flaticon.com/authors/pixel-perfect" target="_blank" rel="noopener noreferrer"> Pixel perfect </a> от <a class = "hyperlinks" href = "https://www.flaticon.com/" target="_blank" rel="noopener noreferrer"> www.flaticon.com</a></p>
			<p class="copyright">Авторские права © 2020. BROWEBGEN.COM. Все права защищены.</p>
		</div>

	</footer>
	
</body>

