
*{
	color: #f2e8d3;
	text-decoration: none;
}

form{
    width: 400px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: sans-serif;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

div{
    justify-content: center;
    font-family: 'Caveat', cursive;
    display: block;
    text-align: center;
}

.name{
    color: #5E4B26;
    font-size: 50px;
    border-left: 10px solid green;
}

.testimonial_message{
    color: #5E4B26;
    font-size: 25px;
}



.testimonial{
    background:#f2e8d3;
    width: 35%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    animation-name: testimonial;
	opacity: 0;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes testimonial{  
    0%{
      opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60% {
      opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }

  .error_message{
    background:#5e2626;
    width: 40%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    opacity: 0;
    margin-bottom: 0;
    padding: 10px;
    color: #f2e8d3;
    animation-name: error_message;
    font-family: 'Source Sans Pro', sans-serif;
    transition-duration: 1s;
    transition-property: background;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes error_message{  
    0%{
        transform: scale(0);
        opacity: 0;
      }
      10%{
          opacity: 0.1;
      }
      20%{
          opacity: 0.2;
      }
      30%{
          opacity: 0.3;
      }
      40%{
          opacity: 0.4;
      }
      50%{
          opacity: 0.5;
      }
      60% {
        transform: scale(1.2);
        opacity: 0.6;
      }
      70%{
          opacity: 0.7;
      }
      80%{
          opacity: 0.8;
      }
      90%{
          opacity: 0.9;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

.form_label{
    font-family: 'Source Sans Pro', sans-serif;
}


ol{
    list-style-type: none;
}

li{
    padding: 10px;
}

textarea {
    resize: none;
 }


input[type="text"],
input[type="email"],
input[type="submit"],
textarea{
  border: 1px solid #5E4B26;
  padding: 10px;
  background: #D6B066;
  width: 300px;
  color:black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

input[type="submit"]{
    width: 200px;
  }

input[type="submit"]:hover{
    background: #5E4B26;
    color:#D6B066;
    margin-top: 0;
  }

input[type="submit"]:active{
    background: #5e2626;
    color:#D6B066;
  }

body{
	background: black;
	 margin: 0px;
}

header, nav{
	background: #D6B066;
}

dl dt a{
	color: #D6B066;
}

p a {
	color: #D6B066;
}

.navbar{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
	text-align: center;
	margin:0;
}

.navbarlist{
	padding: 20px;
    margin: 10px;
	border: solid 1px black;
  	display: inline-flex;
  	width: 200px;
	justify-content: center;
	z-index: 1;
}

img{
	width:60px;
    height:auto;
    margin-top: 5px;
}

.logo{
	text-align: center;
	animation-name: logo;
	opacity: 0;
	animation-duration: 2s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

.brand_name{
	margin:0;
	font-family: 'Gayathri', sans-serif;
	color: #5E4B26;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    top: 100%;
}

/* styling the translator*/
.translator{
    margin-left: 0px;
    margin-right: 0px;
    list-style-type: none;
    border: none;
}

.translator_list{
    list-style-type: none;
}

#dropdown{
    display: block;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #26485e;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 50%;
    max-width: 45%;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 5px;
    border: 1px solid #f2e8d3;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f2e8d3;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #f2e8d3 0%,#f2e8d3 10%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto;
  }

.translator{
    margin-left: 10px;
    margin-bottom: 5px;
    position: relative;
}

#translate_button{
    font-size: 12px;
    padding: 5px;
    width: 60%;
    margin-left: -100px;
}

div{
    justify-content: center;
}


/*form*/

label{
    color: #D6B066;
    font-size: 25px;
    text-transform: uppercase;
}

.contactform{
    border: solid 1px #5E4B26;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form_error{
    color: 	#f2e8d3;
    padding: 5px;
    border-radius: 2px;
    background: #5e2626;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px;
}

.form_input_field{
    margin: 20px;
    justify-content: center;

}

.recaptcha_field{
    margin-left: 100px;/* positions recaptcha to the center */
    margin-right: auto;/* positions recaptcha to the center */
    margin-bottom: 10px;
}

/* styling the footer */
footer{
	height: 100px;
	border-top: dotted 1px #5E4B26;
  }
  
  .footerlist{
	 display: inline;
	text-decoration: none;
  }

  .contact{
	text-decoration: none;
	color: white;
	margin: 10px;
	font-family: 'Montserrat', sans-serif;
  }

  .footericon{
	  width: 30px;
  }

  .footercontainer{
	  text-align: center;
  }

  .attribution, .copyright{
      font-size: 10px;
      font-family: 'Source Sans Pro', sans-serif;
  }


/*logo animation*/

@keyframes logo{  
    0%{
      opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60% {
      opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  
  /*button animation*/
  
  a:active{
      color: black;
  }
  
  .btn{
      position: relative;
      padding: 14px 60px;
      text-transform: uppercase;
      overflow: hidden;
  }
  
  .btn::before{
      background: #5E4B26;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: all 0.6s ease;
       z-index: -1;
  }
  
  .button1::before{
      width: 0%;
      height: 100%;
  }
  
  .button1:hover::before{
        width: 100%;
  }
  
  
  .button2::before{
      width: 100%;
      height: 0%;
  }
  .button2:hover::before{
        height: 100%;
  }
  
  .button3::before{
      width: 0%;
      height: 100%;
  }
  .button3:hover::before{
        width: 100%;
  }

  /*Responsive design part*/

  @media screen and (max-width: 1090px) {

	.navbarlist{
		padding: 5px;
		right: 2%;
	}

	.navbar{
		font-size: 20px;
	}
}


@media screen and (max-width: 768px) {

    .navbarlist{
		padding: 5px;
		right: 2%;
	}

	.navbar{
		font-size: 20px;
    }
}


/*For iPhone 6/7/8 + IOS11*/

@media screen and (max-width: 414px) {
    .navbarlist{
        padding: 5px;
        width: 200px;
    }

    .navbarlist{
		right: 5%;
	}

    .picturecontainer{
        height: 138px;
    }

    .contact{
		font-size: 13px;
      }

	.footericon{
		width: 30px;
    }

	.attribution{
		font-size: 10px;
    }

/*For iPhone 6/7/8 IOS 11*/

@media screen and (max-width: 375px){
	.navbarlist{
		padding: 3px;
		right: 4%;
        }
        .navbar{
            font-size: 15px;
        }
    
        img{
            width: 40px;
            height: auto;
            margin-top: 5px;
        }

        .picturecontainer{
            height: 256px
        }

        .footericon{
            width: 25px;
        }
    
        .attribution{
            font-size: 7px;
        }
    
        .picturecontainer{
            height: 125px
        }

        .contact{
            font-size: 10px;
        }
}}
