/*=================
Table of contents

1. Body

    a. Testimonials
    b. Form

2. Responsivness
===================*/

/*-----------------
 1. Body
-------------------*/
*{
	color: #f2e8d3;
	text-decoration: none;
}

.projects{
    text-align: center;
}

.project1{
    width: 250px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 0px 10px, 0px 5px 20px grey; 
}

body{
	background: black;
	margin: 0px;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    top: 100%;
}

/*a. Testimonials */

.testimonial_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 20px;
    font-family: 'Caveat', cursive;
    padding: 5px;
    animation-name: testimonial;
	opacity: 0;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.actual_testimonial{
    background:#26485e;
    border-radius: 5px;
    text-align: center;
}

.name{
    color: #D6B066;
    margin: 0;
    border-radius: 5px;
    font-size: 50px;
    background:#5e2626;
    border-bottom: 1px solid grey;
    text-shadow: 1px 1px 1px #000, 3px 5px 5px black; 
}

.testimonial_message{
    margin: 10px;
    padding: 10px;
    color: #f2e8d3;
    font-size: 25px;
}

@keyframes testimonial{  
    0%{
      opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60% {
      opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }

/*b. Form */

.form-header{
    color: #D6B066;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 7px;
    text-align: center;
}

.form_label{
    font-family: 'Source Sans Pro', sans-serif;
}

/*-----------------
 2. Responsiveness
-------------------*/

@media screen and (max-width: 1000px) {

    .testimonial_container{
        display: flex;
        flex-direction: column;
    }	
}

@media screen and (max-width: 850px) {

    .form-header{
        margin: 7px;
    }

}

@media screen and (max-width: 566px) {
    .contactform{
        width: 400px;
    }
}


@media screen and (max-width: 375px){
    

    .contactform{
        width: 350px;
    }
    
    .recaptcha_field{
        margin-left: 25px;/* positions recaptcha to the center */
        margin-right: auto;/* positions recaptcha to the center */
    }
}

@media screen and (max-width: 360px){

    .contactform{
        padding: 0px;
        width: 350px;
    }
}

@media screen and (max-width: 320px){

    .contactform{
        width: 310px;
    }

    .recaptcha_field{
        margin-left: 5px;/* positions recaptcha to the center */
        margin-right: auto;/* positions recaptcha to the center */
    }
}