

/*=================
Table of contents

1. Body
2. Responsivness

===================*/

/*-----------------
1. Body
-------------------*/


*{
	color: #f2e8d3;
	text-decoration: none;
}

body{
	background: #26485e;
     margin: 0px;
}

.mystory1{
    position: absolute;
    left: 48%;
    font-size: 60px;
    font-family: 'Poiret One', cursive;
    animation-duration: 1s;
    animation-name: slideright;
}

@keyframes slideright {
    from {
      margin-left: 60%;
    }
  
    to {
      margin-left: 0%;
    }
  }

  .mystory2{
    position: absolute;
    left: 48%;
    margin-top: 120px;
    font-size: 90px;
    font-family: 'Poiret One', cursive;
    animation-duration: 2s;
    animation-name: slideleft;
}

  @keyframes slideleft {
    from {
        margin-left: -60%;
      }
    
      to {
        margin-left: 0%;
      }
    }


.myname{
    position: absolute;
    writing-mode: vertical-rl;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    margin-top: 30px;
    left: 90%;
    opacity: 0;
    animation-name: myname;
    animation-delay: 1s;
    animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes myname {
    0%{
        opacity: 0;
      }
      10%{
          opacity: 0.1;
      }
      20%{
          opacity: 0.2;
      }
      30%{
          opacity: 0.3;
      }
      40%{
          opacity: 0.4;
      }
      50%{
          opacity: 0.5;
      }
      60% {
        opacity: 0.6;
      }
      70%{
          opacity: 0.7;
      }
      80%{
          opacity: 0.8;
      }
      90%{
          opacity: 0.9;
      }
      100% {
        opacity: 1;
      }
    }

.story{
    background: #5e2626;
    padding: 60px;
    margin: 90px;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 200%;
}

.para{
    padding: 10px;
}

.paragraph1{
    border-right: solid 1px white;
}

.paragraph2{
    border-right: solid 1px white;
}

.picturecontainer{
    background:#265e5a;
    height: 32.9vw;
}

.mypicture{
    width: 49.4vw;
    margin: 0;
}

/*-----------------
2. Responsiveness
-------------------*/

@media screen and (max-width: 1195px) {

    .mystory1{
        margin-top: 60px;
    }

    .mystory2{
        margin-top: 120px;
    }

    .myname{
        margin-top: 30px;
        font-size: 20px;
    }


    .story{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }

    .paragraph1{
        border-bottom: solid 1px white;
        border-right: none;
    }

    .paragraph2{
        border-bottom: solid 1px white;
        border-right: none;
    }

    .story > .para{
        margin:0;
    }
}

@media screen and (max-width: 900px) {

    .mystory1{
        margin-top: 30px;
        font-size: 50px;
    }

    .mystory2{
        margin-top: 90px;
        font-size: 50px;
    }

    .myname{
        margin-top: 30px;
        font-size: 10px;
    }

    .story{
        padding: 20px;
        margin: 30px;
    }
}

@media screen and (max-width: 800px) {

    .mystory1{
        left: 45%;
    }

    .mystory2{
        left: 45%;
    }
}

@media screen and (max-width: 600px) {

    .mystory1{
        left: 43%;
    }

    .mystory2{
        left: 43%;
    }
}

@media screen and (max-width: 615px) {

    .mystory1{
        margin-top: 10px;
        font-size: 50px;
    }

    .mystory2{
        margin-top: 60px;
        font-size: 50px;
    }

    .myname{
        margin-top: 20px;
        font-size: 10px;
    }

    .story{
        padding: 20px;
        margin: 30px;
    }
}

@media screen and (max-width: 414px) {

    .mystory1{
        left: 43%;
    }

    .mystory2{
        left: 43%;
    }
}

@media screen and (max-width: 360px) {

    .mystory1{
        margin-top: 10px;
        font-size: 30px;
        left: 45%;
    }

    .mystory2{
        margin-top: 50px;
        font-size: 30px;
        left: 45%;
    }

    .myname{
        margin-top: 5px;
        font-size: 10px;
    }

    .story{
        padding: 20px;
        margin: 30px;
    }
}

@media screen and (max-width: 320px) {

    .myname{
        margin-top: 5px;
        font-size: 7px;
    }

}