<!doctype html>

<html lang="en">
<head>

  	<meta charset="utf-8">
	<title>Brochure website creator</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg">
	<link rel="alternate" hreflang="en-GB" href="url_of_page" />
	<link rel="alternate" hreflang="ru-GB" href="url_of_page" />
	<meta name="author" content="Dmitry Martinov">
	<meta name="description" content="Read the stody of a self-taught beginner in web development who is offering you to buid a brochure website for your small business.">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!--important for responsivness, for media queries to work-->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Gayathri:wght@100;400&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='about_me/about_mestyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='main_page/main_pagestyle.css') }}">

</head>

<body>

	<header>
		<nav>
			<div class= "logo_container"><!--this container is needed to position logo at the center of container and control the logo container width to avoid wide clickable area of the brand name's hyperlink-->
				<div class= "logo">
					<a href = "/main_page"><img src="{{ url_for('static', filename='favicon.svg') }}" alt="deer"></a>
					<a href = "/main_page"><p class="brand_name">BROWEBGEN</p></a>
				</div>
			</div>
			<ul class= "navbar">
				<li class = "btn button1 navbarlist"><a href = "/my_projects" class="nav_links">My projects</a></li>
				<li class = "btn button2 navbarlist"><a href = "/main_page" class="nav_links">Main page</a></li>
				<li class = "btn button3 navbarlist"><a href = "/blog" class="nav_links">Blog</a></li>
			</ul>

			<a href="/about_me/ru" class="translator">RU</a>

		</nav>
	</header>

	<main>
			<div class="picturecontainer">
				<p class="mystory1">
					my
				</p>
				<p class="mystory2">
					STORY
				</p>
				<p class="myname">
					DMITRY MARTINOV
				</p>
				<img src= "{{ url_for('static', filename='about_me/me.jpg') }}" class= "mypicture" alt="Photo of the website author">
			</div>
		<section class= "story">
			<p class= "para paragraph1">
				Hi! I've decided to build this website to practice my basic knowledge in web development which I self-learned over 6 months period. 
				I'm originally from Latvia but currently based in London. I've been living in London for over 10 years. During this time I got my BSc and MSc in Social Sciences before I landed my first professional job at an academic publisher. 
				My flirting with programming languages begun in 2016 when I decided to take an introductory course in Python. I soon realised that while you can do amasing stuff with Python it's of little use to anyone without a user interface. 
				During my current employment, I got exposed to some HTML and website building using <a href="https://www.squarespace.com/" rel="nofollow" target="_blank" rel="noopener noreferrer">Squarespace</a>. I quickly understood how and what websites are built for and got interested in learning about how to create them myself. 
				I treat my preoccupation with web development as my hobby at the moment, which perfectly fits with these typical rainy English days. 
			</p>
			<p class= "para paragraph2">
				The website you're seeing is my first website built from scratch. 
				I made decisions on everything you see here - colours, icons, logo, animations, structure, pages, font, layout and content. 
				Regardless of which device you've accessed this website from it should look equally good as I've built it to be responsive. 
				I thought that instead of me trying to figure out how to practise front end coding myself I can build websites for people who have
				small business and would like to harness the power of the Internet and get a wider outreach.
			</p>
			<p class= "para paragraph3">
				In case you're wondering why deer and why "BROWEBGEN", I'd like to demystify those two aspects of my logo. 
				I like deers' habitat - mountains, deciduous forests, grasslands and rain forests. 
				I also like how this animal looks because of their antlers, by the way, only males have them. 
				Deer is athletic, which aligns with my predisposition towards doing sports and leading active lifestyle. 
				The name of my brand reflects what services I provide - BROchure WEBsite GENerator (creator). I hope you'll <a href="mailto:dmimart@hotmail.com?subject=I'd like to ask for my website&body=Hi Dima," target="_blank" rel="noopener noreferrer" class = "hyperlinks">get in touch</a> and we'll take it from there! 
			</p>
		</section>
			
	</main>
		

<body>
		
	<footer>
		<div class= "footercontainer">
			<ul class="footer">
				<li class = "footerlist"><a href="mailto:dmimart@hotmail.com?subject= I'd like to ask for my website&body=Hi Dima," target="_blank" rel="noopener noreferrer"><img src="{{ url_for('static', filename='email.svg') }}" class = "footericon" alt="envelope"></a><a href="mailto:dmimart@hotmail.com?subject=Would like to ask for my website&body=Hi Dima," target="_blank" rel="noopener noreferrer" class = "contact">Contact via email</a></li>
				<li class = "footerlist"><a href="https://api.whatsapp.com/send?phone=+447487731324" target="_blank" rel="noopener noreferrer" class = "socmed"><img src="{{ url_for('static', filename='whatsapp.svg') }}" class = "footericon" alt="WhatsApp symbol"></a><a href="https://api.whatsapp.com/send?phone=077487731324" target="_blank" rel="noopener noreferrer" class = "contact">Contact via WhatsApp</a></li>
			</ul>
			<p class = "attribution">Icons on this page made by<a class = "hyperlinks" href = "https://www.flaticon.com/authors/freepik" target="_blank" rel="noopener noreferrer"> Freepik </a> and <a class = "hyperlinks" href = "https://www.flaticon.com/authors/pixel-perfect" target="_blank" rel="noopener noreferrer"> Pixel perfect </a>from <a class = "hyperlinks" href = "https://www.flaticon.com/" target="_blank" rel="noopener noreferrer"> www.flaticon.com</a></p>
			<p class="copyright">Copyright © 2020. BROWEBGEN.COM. All rights reserved.</p>
		</div>
	</footer>
</body>
</html>