<!doctype html>

<html lang="en">
<head>

  	<meta charset="utf-8">
	<title>Browebgen privacy policy</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg">
    <meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!--important for responsivness, for media queries to work-->
</head>

<body>
    <object data="{{ url_for('static', filename='main_page/Browebgen_privacy_policy.pdf') }}" type="application/pdf" style="min-height:100vh;width:100%"></object>
</html>