<!doctype html>

<html lang="en">

<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-5PNMFFBF0G"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-5PNMFFBF0G');
	</script>

	<meta charset="utf-8">
	<title>Main page</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg">
	<link rel="alternate" hreflang="en-GB" href="http://www.browebgen.uk/main_page" />
	<link rel="alternate" hreflang="ru-GB" href="http://www.browebgen.uk/main_page/ru" />
	<meta name="author" content="Dmitry Martinov">
	<meta name="description"
		content="Get a brochure website for your small business for a competitive price.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--important for responsivness, for media queries to work-->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='main_page/main_pagestyle.css') }}">
	<!--imports a style sheet in a way that works in Python environment this file is in-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

</head>

<body>
	<!--checks if "b" variable specified in the back end is equal to value="english" in one option selector below-->
	<header>
		<nav>
			<div class= "logo_container"><!--this container is needed to position logo at the center of container and control the logo container width to avoid wide clickable area of the brand name's hyperlink-->
				<div class= "logo">
					<a href = "/main_page"><img src="{{ url_for('static', filename='favicon.svg') }}" alt="deer"></a>
					<a href = "/main_page"><p class="brand_name">BROWEBGEN</p></a>
				</div>
			</div>
			
			<ul class="navbar">
				<li class="btn button1 navbarlist"><a href="/my_projects" class="nav_links">My projects</a></li>
				<li class="btn button2 navbarlist"><a href="/blog" class="nav_links">Blog</a></li>
				<li class="btn button3 navbarlist"><a href="/about_me" class="nav_links">About me</a></li>
			</ul>

			<a href="/main_page/ru" class="translator">RU</a>
			
		</nav>
	</header>

	<main>

		<section class="section1">

			<p class="statement">Get a competitively priced brochure website for your small business</p>

		</section>

		
		<div>

			{% with messages = get_flashed_messages(with_categories=true) %}
			<!-- NOTE: this code has to be like this even if you have only one flash message in your Python code! 
				assigns a function which gets all the flashed messages in the code to a variable -->
			<!-- triggers the for loop if the Python code encountered an order to display a flash message -->
			{% for category, message in messages %}
			<!-- loops through the list of all the flash messages and prints them on the screen-->
			<p class="{{ category }}">{{ message }}</p><!-- "category" variable lets CSS know which class to pick to apply styling"-->
			<!--displays the flash message-->
			{% endfor %}
			{% endwith %}

		</div>

		<div class="main_section_container">

			<section class="section2">

				<div class="icon">
					<img src="{{ url_for('static', filename='main_page/brochureicon.svg') }}">
				</div>

				<h2>What's a brochure website?</h2>

				<p>A brochure website is essentially what its name suggests - a digital version of a printed brochure.
					It's like a digital business card but with more functionality and potential.
					It shows the products or services your company provides, however,
					unlike an e-commerce website, it does not sell the product or service online.
					On a brochure website, the goods and services are only displayed, so prospective clients
					will have to contact the company to place an order or arrange a service. </p>

				<p>For example, a small plumbing company would build a brochure website with a homepage to
					display contact information, an ‘about us’ page describing the company, and maybe a few
					photos of their work. There are a lot of good website builders out there that provide an
					off the box solution, but if you don’t have time to create a website yourself or want
					to get a more tailored solution than the website builders provide, then why not
					<a href="javascript: document.body.scrollIntoView(false);">contacting me today</a>
					outlining your needs to get a quote?</p>

			</section>

			<section class="section4">

				<div class="icon">
					<img src="{{ url_for('static', filename='main_page/advantagesicon.svg') }}">
				</div>

				<h2>Why would you want a borchure website?</h2>

				<ul>
					<li> It shows the products or services your company provides to a wider audience.</li>
					<li> It's great for promoting your business.</li>
					<li> Have more constructive conversations with your customers via web forms.</li>
					<li> Increase your competitiveness.</li>
					<li> Your prospective clients/customers may expect you to have your website so that they can find
						more information about your business.</li>
					<li> Influence your brand perception by writing your own story on the website.</li>
					<li> Show to others that you're serious about your small business. It adds credibility to your
						company.</li>
					<li> By using effective words and captivating images, it can draw people in and help to sell your
						products.</li>
				</ul>

			</section>

			<section class="section3">

				<div class="icon">
					<img src="{{ url_for('static', filename='main_page/possibilitiesicon.svg') }}">
				</div>

				<h2>What's possible?</h2>

				<ul>
					<li>The website can be responsive - be accessed on desktops, smartphones, and tablets through
						any browser, so you can be sure your company is reaching the maximum number of people.</li>
					<li>The website can be bi-lingual. You won't need to provide me with the content in a foreign
						language unless this language is other than Russian.</li>
					<li>Almost everything is customisable - layout, colours, navigation bars, element shapes, buttons,
						forms,
						input fields, font style, types of pages, their numbers and structure. Make it your own.</li>
					<li>Forms with any input types. Decide on what information you want to know about your customers.
					</li>
					<li>A booking system. Let the automation do the work.</li>
					<li>An email notification along with the form data from a new form submitted for you and a follow-up
						email for your prospective client. Make it easy for yourself while providing excellent customer
						service.</li>
					<li>Dynamic testimonial board. Show what other people think about your product or service.</li>
					<li>Simple animations. Have an eye-catching website, which is a bit more than a collection of
						monolithic pages.</li>
				</ul>

			</section>

		</div>

		<form class="contactform" action="/main_page" method="post">
			
			<p class = "form_header">Contact me to get a quote today!</p>
			{{ form.hidden_tag() }}
			<!--need to add CRSF token to protect the website from forgery attacks-->

			<div class="form_input_field">
				{% if form.name.errors %}
				{{ form.name(placeholder="Name") }}
				<!--actual input field from the form-->
			</div>

			<div class="form_input_field">
				{% for error in form.name.errors %}
				<span class="form_error">{{ error }}</span>
				{% endfor %}
			</div>

			<div class="form_input_field">
				{% else %}
				{{ form.name(placeholder="Name") }}
				{% endif %}
			</div>

			<div class="form_input_field">
				{% if form.email.errors %}
				{{ form.email(placeholder="Email") }}
				<!--actual input field from the form-->
			</div>

			<div class="form_input_field">
				{% for error in form.email.errors %}
				<span class="form_error"> {{ error }} </span>
				{% endfor %}
			</div>

			<div class="form_input_field">
				{% else %}
				{{ form.email(placeholder="Email")}}
				{% endif %}
			</div>

			<div class="form_input_field">
				{% if form.message.errors %}
				{{ form.message(placeholder="Your needs")}}
				<!--actual input field from the form-->
			</div>

			<div class="form_input_field">
				{% for error in form.message.errors %}
				<span class="form_error"> {{ error }} </span>
				{% endfor %}
			</div>

			<div class="form_input_field">
				{% else %}
				{{ form.message(placeholder="Your needs") }}
				{% endif %}
			</div>

			<div class="form_input_field">
				{% if form.privacy_pol_checkbox.errors %}
				{{ form.privacy_pol_checkbox() }}
				<label class = "privacy_policy">I have read and agree to browebgen.uk<a href = http://127.0.0.1:5000/privacy_policy class ="hyperlink" target="_blank">Privacy Policy</a></label>
				<!--actual input field from the form-->
			</div>

			<div class="form_input_field">
				{% for error in form.privacy_pol_checkbox.errors %}
				<span class="form_error"> {{ error }} </span>
				{% endfor %}
			</div>

			<div class="form_input_field">
				{% else %}
				{{ form.privacy_pol_checkbox() }}
				<label class = "privacy_policy">I have read and agree to Browebgen <a href = http://www.browebgen.uk/privacy_policy class ="hyperlink" target="_blank">Privacy Policy</a></label>
				{% endif %}
			</div>

			<div class="form_input_field">
				{{ form.submit()}}
				<!--actual input field from the form-->
			</div>

			<div class="recaptcha_field">
				{{ form.recaptcha }}
			</div>

			<div class="form_input_field">
				{% for error in form.recaptcha.errors %}
				<span class="form_error"> {{ error }} </span>
				{% endfor %}
			</div>

		</form>

	</main>

	<footer>

		<div class="footercontainer">
			<ul class="footer">
				<li class="footerlist"><a
						href="mailto:dmimart@hotmail.com?subject= I'd like to ask for my website&body=Hi Dima,"
						target="_blank" rel="noopener noreferrer"><img
							src="{{ url_for('static', filename='email.svg') }}" class="footericon"></a><a
						href="mailto:dmimart@hotmail.com?subject=Would like to ask for my website&body=Hi Dima,"
						target="_blank" rel="noopener noreferrer" class="contact hyperlink">Contact via email</a></li>
				<li class="footerlist"><a href="https://api.whatsapp.com/send?phone=+447487731324" target="_blank"
						rel="noopener noreferrer"><img
							src="{{ url_for('static', filename='whatsapp.svg') }}" class="footericon"></a><a
						href="https://api.whatsapp.com/send?phone=+447487731324" target="_blank"
						rel="noopener noreferrer" class="contact hyperlink">Contact via WhatsApp</a></li>
			</ul>
			<p class="attribution">Icons on this page made by<a class="hyperlinks"
					href="https://www.flaticon.com/authors/freepik" target="_blank" rel="noopener noreferrer"> Freepik
				</a>, <a class="hyperlinks" href="https://www.flaticon.com/authors/kiranshastry" target="_blank"
					rel="noopener noreferrer"> Kiranshastry </a>,<a class="hyperlinks"
					href="https://www.flaticon.com/authors/pixel-perfect" target="_blank" rel="noopener noreferrer">
					Pixel perfect </a>and <a class="hyperlinks" href="https://www.flaticon.com/authors/becris"
					target="_blank" rel="noopener noreferrer"> Becris </a> from <a class="hyperlinks"
					href="https://www.flaticon.com/" target="_blank" rel="noopener noreferrer"> www.flaticon.com</a></p>
			<p class="copyright">Copyright © 2021. browebgen.uk. All rights reserved.</p>
		</div>

	</footer>
</body>

</html>