<!doctype html>

<html lang="ru">

<head>

	<meta charset="utf-8">
	<title>Get a brochure website for free</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg">
	<link rel="alternate" hreflang="en-GB" href="url_of_page" />
	<link rel="alternate" hreflang="ru-GB" href="url_of_page" />
	<meta name="author" content="Dmitry Martinov">
	<meta name="description"
		content="Get a brochure website for your small business for a competitive price. Pay for hosting and domain only.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--important for responsivness, for media queries to work-->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='main_page/main_pagestyle.css') }}">
	<!--imports a style sheet in a way that works in Python environment this file is in-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

</head>

<body>

	<!--checks if "b" variable specified in the back end is equal to value="english" in one option selector below-->
	<header>
		<nav>
			<div class= "logo_container"><!--this container is needed to position logo at the center of container and control the logo container width to avoid wide clickable area of the brand name's hyperlink-->
				<div class= "logo">
					<a href = "/main_page/ru"><img src="{{ url_for('static', filename='favicon.svg') }}" alt="deer"></a>
					<a href = "/main_page/ru"><p class="brand_name">BROWEBGEN</p></a>
				</div>
			</div>
			
			<ul class="navbar">
				<li class="btn button1 navbarlist"><a href="/my_projects/ru" class="nav_links">Мои проекты</a></li>
				<li class="btn button2 navbarlist"><a href="/blog/ru" class="nav_links">Блог</a></li>
				<li class="btn button3 navbarlist"><a href="/about_me/ru" class="nav_links">Обо мне</a></li>
			</ul>
		
	
			<a href="/main_page" class="translator">ENG</a>
		</nav>
	</header>

	<main>

		<section class="section1">

			<p class="statement">Закажи сайт-брошюра по конкурентоспособной цене для своего малого бизнеса</p>

		</section>

		
		<div>

			{% with messages = get_flashed_messages(with_categories=true) %}
			<!-- NOTE: this code has to be like this even if you have only one flash message in your Python code! 
				assigns a function which gets all the flashed messages in the code to a variable -->
			<!-- triggers the for loop if the Python code encountered an order to display a flash message -->
			{% for category, message in messages %}
			<!-- loops through the list of all the flash messages and prints them on the screen-->
			<p class="{{ category }}">{{ message }}</p><!-- "category" variable lets CSS know which class to pick to apply styling"-->
			<!--displays the flash message-->
			{% endfor %}
			{% endwith %}

		</div>

		<div class="main_section_container">

			<section class="section2">

				<div class="icon">
					<img src="{{ url_for('static', filename='main_page/brochureicon.svg') }}">
				</div>

				<h2>Что такое сайт-брошюра?</h2>

				<p>Сайт-брошюра - это, по сути, то, что предполагает его название - цифровая
				 версия печатной брошюры. Это как цифровая визитка но с большей функциональностью
				 и потенциалом. Он показывает продукты или услуги, которые предоставляет ваша
				 компания, однако, в отличие от веб-магазина, он не продает продукт или услугу
				 в Интернете. На сайте-брошюре товары и услуги только рекламируются, поэтому
				 потенциальным клиентам придется обращаться в вашу компанию, чтобы разместить
				 заказ или заказать услугу.</p>

				<p>Например, небольшая сантехническая компания создаст сайт-брошюра с домашней
				страницей для отображения контактной информации, страницей «о нас» с описанием
				компании и, возможно, несколькими фотографиями их работы. Есть много хороших
				конструкторов веб-сайтов, которые предоставляют нестандартные решения,
				прочтите <a href="#" target="_blank">мой блог</a> о том, почему вам стоит и не стоит
				использовать их для создания своего веб-сайта. Если у вас нет времени на
				создание веб-сайта самостоятельно или вы хотите получить более индивидуальное решение,
				чем то что предлагают конструкторы веб-сайтов, то почему бы не связаться со
				мной сегодня и не рассказать о ваших потребностях, чтобы узнать цену?</p>

			</section>

			<section class="section4">

				<div class="icon">
					<img src="{{ url_for('static', filename='main_page/advantagesicon.svg') }}">
				</div>

				<h2>Почему вам стоит иметь сайт-брошюра?</h2>

				<ul>
					<li>Он показывает продукты или услуги, которые ваша компания предоставляет более широкой аудитории.</li>
					<li>Это отлично подходит для продвижения вашего бизнеса.</li>
					<li>Общайтесь с клиентами более конструктивно - с помощью веб-форм.</li>
					<li>Повысте свою конкурентоспособность.</li>
					<li>Ваши потенциальные клиенты могут ожидать, что у вас есть свой веб-сайт, где они могут найти дополнительную информацию о вашем бизнесе.</li>
					<li>Повлияйте на восприятие вашего бренда, написав собственную историю на веб-сайте.</li>
					<li>Покажите другим, что вы серьезно относитесь к своему малому бизнесу. Это повышает авторитет вашей компании.</li>
					<li>Используя эффективные слова и захватывающие изображения, он может привлечь людей и помочь продать ваши продукты.</li>
				</ul>

			</section>

			<section class="section3">

				<div class="icon">
					<img src="{{ url_for('static', filename='main_page/possibilitiesicon.svg') }}">
				</div>

				<h2>Что возможно?</h2>

				<ul>
					<li>Веб-сайт может быть отзывчивым - он выглядит одинаково хорошо как на настольных компьютерах, так и на смартфонах и планшетах, поэтому вы можете быть уверены, что ваша компания привлекает максимальное количество людей.</li>
					<li>Он может быть двуязычным. Вам не нужно будет предоставлять мне контент на другом языке, если этот контент на английском или русском языках.</li>
					<li>Настраивается практически все - макет, цвета, панели навигации, формы элементов, кнопки, поля ввода, стиль шрифта, типы страниц, их номера и структура. Сделайте сайт своим.</li>
					<li>Формы с любыми типами ввода. Решите, какую информацию вы хотите узнать от своих клиентов.</li>
					<li>Система бронирования. Пусть автоматика сделает свою работу.</li>
					<li>Уведомление по электронной почте вместе с данными формы полученные из формы, отправленной посетителем вашего сайта, и последующее автоматизированное электронное письмо для этого посетителя. Сделайте это проще для себя и обеспечьте отличное обслуживание клиентов.</li>
					<li>Динамическая доска отзывов. Покажите, что другие люди думают о вашем продукте или сервисе.</li>
					<li>Простые анимации. Создайте привлекательный веб-сайт, который представляет собой нечто большее, чем набор монолитных страниц.</li>
				</ul>

			</section>

		</div>

		<form class="contactform" action="/main_page/ru" method="post">
			
			<p class = "form_header">Свяжитесь со мной сегодня что бы узнать цену!</p>
			{{ form.hidden_tag() }}
			<!--need to add CRSF token to protect the website from forgery attacks-->

			<div class="form_input_field">
				{% if form.name.errors %}
				{{ form.name(placeholder="Имя") }}
				<!--actual input field from the form-->
			</div>

			<div class="form_input_field">
				{% for error in form.name.errors %}
				<span class="form_error">{{ error }}</span>
				{% endfor %}
			</div>

			<div class="form_input_field">
				{% else %}
				{{ form.name(placeholder="Имя") }}
				{% endif %}
			</div>

			<div class="form_input_field">
				{% if form.email.errors %}
				{{ form.email(placeholder="Имейл") }}
				<!--actual input field from the form-->
			</div>

			<div class="form_input_field">
				{% for error in form.email.errors %}
				<span class="form_error"> {{ error }} </span>
				{% endfor %}
			</div>

			<div class="form_input_field">
				{% else %}
				{{ form.email(placeholder="Имейл")}}
				{% endif %}
			</div>

			<div class="form_input_field">
				{% if form.message.errors %}
				{{ form.message(placeholder="Ваш запрос")}}
				<!--actual input field from the form-->
			</div>

			<div class="form_input_field">
				{% for error in form.message.errors %}
				<span class="form_error"> {{ error }} </span>
				{% endfor %}
			</div>

			<div class="form_input_field">
				{% else %}
				{{ form.message(placeholder="Ваш запрос") }}
				{% endif %}
			</div>

			<div class="form_input_field">
				{% if form.privacy_pol_checkbox.errors %}
				{{ form.privacy_pol_checkbox() }}
				<label class = "privacy_policy">Я прочитал и соглашаюсь с <a href = "#" class ="hyperlink">политикой конфиденциальности</a> browebgen.com</label>
				<!--actual input field from the form-->
			</div>

			<div class="form_input_field">
				{% for error in form.privacy_pol_checkbox.errors %}
				<span class="form_error"> {{ error }} </span>
				{% endfor %}
			</div>

			<div class="form_input_field">
				{% else %}
				{{ form.privacy_pol_checkbox() }}
				<label class = "privacy_policy">Я прочитал и соглашаюсь с <a href = "#" class ="hyperlink">политикой конфиденциальности</a> browebgen.com</label>
				{% endif %}
			</div>

			<div class="form_input_field">
				{{ form.submit()}}
				<!--actual input field from the form-->
			</div>

			<div class="recaptcha_field">
				{{ form.recaptcha }}
			</div>

			<div class="form_input_field">
				{% for error in form.recaptcha.errors %}
				<span class="form_error"> {{ error }} </span>
				{% endfor %}
			</div>

		</form>

	</main>

	<footer>

		<div class="footercontainer">
			<ul class="footer">
				<li class="footerlist"><a
					href="mailto:dmimart@hotmail.com?subject= I'd like to ask for my website&body=Hi Dima,"
					target="_blank" rel="noopener noreferrer"><img
						src="{{ url_for('static', filename='email.svg') }}" class="footericon"></a><a
					href="mailto:dmimart@hotmail.com?subject=Would like to ask for my website&body=Hi Dima,"
					target="_blank" rel="noopener noreferrer" class="contact">Связаться через имейл</a></li>
				<li class="footerlist"><a href="https://api.whatsapp.com/send?phone=+447487731324" target="_blank"
					rel="noopener noreferrer" class="socmed"><img
						src="{{ url_for('static', filename='whatsapp.svg') }}" class="footericon"></a><a
					href="https://api.whatsapp.com/send?phone=+447487731324" target="_blank"
					rel="noopener noreferrer" class="contact">Связаться через WhatsApp</a></li>
			</ul>
			<p class="attribution">Иконки на этом вебсайте сделаны<a class="hyperlinks"
				href="https://www.flaticon.com/authors/freepik" target="_blank" rel="noopener noreferrer"> Freepik
				</a>, <a class="hyperlinks" href="https://www.flaticon.com/authors/kiranshastry" target="_blank"
				rel="noopener noreferrer"> Kiranshastry </a>,<a class="hyperlinks"
				href="https://www.flaticon.com/authors/pixel-perfect" target="_blank" rel="noopener noreferrer">
				Pixel perfect </a>и <a class="hyperlinks" href="https://www.flaticon.com/authors/becris"
				target="_blank" rel="noopener noreferrer"> Becris </a> от <a class="hyperlinks"
				href="https://www.flaticon.com/" target="_blank" rel="noopener noreferrer"> www.flaticon.com</a></p>
			<p class="copyright">Авторские права © 2020. browebgen.uk. Все права защищены.</p>
		</div>

	</footer>
</body>

</html>